@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
}

header.container {
  background-color: lightcoral;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
  margin-bottom: 25px;
  height: 40vh;
}

input {
  width: 100%;
  height: 35px;
  border: none;
  border-radius: 5px;
  padding: 5px;
}

img {
  width: 100%;
}

#photo-divs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container {
  width: 95%;
  margin: 0 auto;
}

.header-details {
  width: 40%;
}

.header-details > h2 {
  font-size: 1.7rem;
  margin-bottom: 20px;
  font-weight: 400;
}

.photo-div {
  width: 49%;
}
